.tweet-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $grey;
  padding: 10px 0;
  a {
    color: black;
    padding: 10px 20px;
    &:hover {
      background-color: rgba(244,244,244, .5);
    }
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    .user-info {
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        border: 1px solid $grey;
        max-width: 35px;
      }
      span, i {
        margin-left: 10px;
      }
      i {
        color: $twitterBlue;
      }
    }
  }
  .tweet {
    padding: 20px;
  }
}
